<div "show-screen d-flex flex-column">

  <div class="show-detail-title">
    <%= @article.title %>
  </div>

  <div class="show-detail-image">
    <%= attachment_image_tag @article, :image, :fill, 300,300, format: 'jpeg', size: "300x300", fallback: "no_image.jpg", class: "mb-3" %>
  </div>

  <div class="show-detail-body">
    <%= @article.body %>
  </div>

  <div>
    <%= link_to "一覧へ", root_path, class:"btn btn-primary mt-3" %>
  </div>

</div>